*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 100%;  
  align-items: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {  
  object-fit: cover;  
  object-position: center;  
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
}

.search-form__textfield {
  border-width: 1px 0;
  border-style: solid;
  border-color: rgb(255 255 255 / 0.7); 
  -webkit-appearance: none;
        -moz-appearance: none;
              appearance: none;
  color: #fff;
  font-size: inherit;  
  background-color: transparent;
  font-family: inherit;
  padding: 2.5px 0;
  min-width: 225px;
  letter-spacing: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);   
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  opacity: 1;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:hover:not(:has(.search-form__textfield)) {
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  padding: 7px 20px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__list-container {
  height: 298px;  
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3px 4px;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {  
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 387px;
}

.content__video-card-description-container {  
  flex-grow: 1;
  overflow: hidden;
}


.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.9;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

